---
layout: default
title: Archive
---

<div id="home" class="row">
<div class="col-md-9">
  <ul class="archive">
    {% for post in site.posts %}
      <li>
        <span class="archive-post-date">{{ post.date | date_to_string }}</span>
        <span class="archive-post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </span>
      </li>
    {% endfor %}
  </ul>
  </div>
  <div class="col-md-3">
    <div class="right-panel">
      <h3>Recent Posts</h3>
      <ul class="recent-posts">
        {% for post in site.posts offset: 0 limit: 5  %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>